@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  text-align: center;
  padding: 2rem;
}

img{
  max-width: 100%;
}

.header{
  margin: 50px 0 10px 0;
}

.header  h1{
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 20px;
  color: hsl(0, 0%, 59%);
}

span{
  color: hsl(0, 0%, 0%);
}

.header p{
  font-size: .8rem;
  font-weight: 400;
  margin: 5px 0 20px 0;
  color: hsl(209, 33%, 12%);
}

input, .btn{
  display: block;
  width: 100%;
  border: none;
  padding: .8rem 1rem;
  border-radius: 25px;
}

input{
  border: 1px solid hsl(0, 0%, 59%);
  outline: none;
  margin-bottom: 10px;
}

.btn{
  background: hsl(223, 87%, 63%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  cursor: pointer;
}

.dashboard img{
  margin: 40px 0 70px 0;
}

.icon{
  margin-right: 10px;
  color: hsl(223, 87%, 63%);
  border: 1px solid hsl(223, 87%, 63%);
  border-radius: 100%;
  padding: .4rem;
  font-size: 2rem;
}

footer{
  padding: 1rem 0;
}

footer p{
  color: hsl(0, 0%, 59%);
  font-size: .9rem;
  padding: 1rem 0;
}

@media screen and (min-width: 768px) {
  .submit{
    display: grid;
    place-content: center;
    grid-template-columns: 350px 150px;
    gap: 1rem;
  }

  input{
    margin-bottom: 0;
  }

  .dashboard img{
    width: 700px;
  }

}